.nav {
  background-color: #170A1C;
  padding: 10px;
}

#intro, #seperator, .tutorial, hr {
  margin: 0 150px;
}

#intro {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

#intro p {
  width: 700px;
  margin: 0 auto;
}

hr {
  padding: 20px 0px 20px 0px;
}

.grid-margin-x {
  margin: 10px;
  text-align: center;
}

.grid-margin-y {
  margin: 10px;
  text-align: center;
}

.cell {
  background-color: #BDBBB0;
  height: 50px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}


dl {
  margin-left: 25px;
  margin-bottom: 10px;
}
